body, html {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 0;
    margin: 0;
    border: 0;
}

.navbarHeader {
    background-color: #383961;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarMainDiv {
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
    overflow: hidden;
    z-index: -1;
}

.whiteLink {
    color: #f5f5f5;
    text-decoration: none;
    padding: 0;
    padding-left: 5rem;
}

.navbarItemsDiv {
    margin: 0;
    padding-top: 1rem;
    padding-left: 3.55rem;
}

.navbarItem {
    padding-right: 1.5rem;
    color: #f5f5f5;
    text-decoration: none;
}

.navbarItem:hover {
    font-weight: bolder;
}

.navbarItemsUl {
    margin: 0;
}